# Created by https://www.gitignore.io

################
### IntelliJ ###
################

.idea/
*.iml

################
###  NodeJS  ###
################

node_modules/

################
### Angular  ###
################

bower_components/
